.profile-info-1 {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 600;
    color: $gray-dark;
    // color: $brand-primary;
}

.profile-info-2 {
    margin-bottom: 15px;
    color: $gray-dark;
}

.profile-info-3 {
    color: $gray-dark;
}

.profile-box {
    border: 1px solid $gray;
    border-radius: 2px;
}
