.set-password-form {
    margin: 200px auto 0 auto;
    width: 75%;
    max-width: 600px;

    .send-mail-error, .send-mail-success {
        text-align: center;
    }

    .set-password-content {
        border: 1px solid $gray_border;
        padding: 25px;
        margin-bottom: 15px;
    }

    .set-password-foooter {
        button {
            &:first-child {
                margin-right: 5px;
            }
        }
    }
}