.filter {
    padding: 0px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic-admin-header {
    margin: 20px 0;

}

.review-table-container {
    max-height: 300px;
}
